body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:678px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic';
  font-style:italic;
  font-size:28px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:46px;
  width:400px;
  height:678px;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic';
  font-style:italic;
  font-size:28px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:396px;
  word-wrap:break-word;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:54px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  height:54px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:54px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:60px;
  height:54px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:691px;
  width:115px;
  height:44px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:392px;
  width:36px;
  height:36px;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic';
  font-weight:700;
  font-style:italic;
  font-size:36px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:32px;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:99px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:436px;
  width:79px;
  height:99px;
  opacity:0.5;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:78px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1506_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1506_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1506_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1506_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:258px;
  width:153px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1509_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1509_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1509_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1509_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:353px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1512_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1512_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1512_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1512_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:439px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1515_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1515_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1515_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1515_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:441px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1518_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1518_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1518_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1518_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:359px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1521_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1521_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1521_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1521_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:258px;
  width:155px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1524_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1524_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1524_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1524_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:49px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1527_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1527_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1527_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1527_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:80px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1530_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1530_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1530_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1530_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:162px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1533_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1533_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1533_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1533_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1536 {
  position:absolute;
  left:186px;
  top:34px;
}
#u1536_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
  background-image:none;
}
#u1536_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
  opacity:0.5;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
  visibility:hidden;
  background-image:none;
}
#u1536_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541 {
  position:absolute;
  left:88px;
  top:64px;
}
#u1541_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  background-image:none;
}
#u1541_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  opacity:0.5;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  visibility:hidden;
  background-image:none;
}
#u1541_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546 {
  position:absolute;
  left:44px;
  top:147px;
}
#u1546_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
  background-image:none;
}
#u1546_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
  opacity:0.5;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
  visibility:hidden;
  background-image:none;
}
#u1546_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551 {
  position:absolute;
  left:28px;
  top:243px;
}
#u1551_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
  background-image:none;
}
#u1551_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
  opacity:0.5;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
  visibility:hidden;
  background-image:none;
}
#u1551_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556 {
  position:absolute;
  left:48px;
  top:339px;
}
#u1556_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
  background-image:none;
}
#u1556_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
  opacity:0.5;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
  visibility:hidden;
  background-image:none;
}
#u1556_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561 {
  position:absolute;
  left:88px;
  top:424px;
}
#u1561_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
  background-image:none;
}
#u1561_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
  opacity:0.5;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
  visibility:hidden;
  background-image:none;
}
#u1561_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566 {
  position:absolute;
  left:184px;
  top:443px;
}
#u1566_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  background-image:none;
}
#u1566_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  opacity:0.5;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  visibility:hidden;
  background-image:none;
}
#u1566_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571 {
  position:absolute;
  left:283px;
  top:424px;
}
#u1571_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
  background-image:none;
}
#u1571_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
  opacity:0.5;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
  visibility:hidden;
  background-image:none;
}
#u1571_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1576 {
  position:absolute;
  left:325px;
  top:338px;
}
#u1576_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
  background-image:none;
}
#u1576_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
  opacity:0.5;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1576_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
  visibility:hidden;
  background-image:none;
}
#u1576_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1581 {
  position:absolute;
  left:334px;
  top:243px;
}
#u1581_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
  background-image:none;
}
#u1581_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
  opacity:0.5;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1581_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
  visibility:hidden;
  background-image:none;
}
#u1581_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586 {
  position:absolute;
  left:275px;
  top:64px;
}
#u1586_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
  background-image:none;
}
#u1586_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
  opacity:0.5;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
  visibility:hidden;
  background-image:none;
}
#u1586_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:264px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:546px;
  width:499px;
  height:264px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:595px;
  width:387px;
  height:149px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:379px;
  word-wrap:break-word;
}
#u1595_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:36px;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:9px;
  height:33px;
  opacity:0.8;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1597_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:34px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:3px;
  width:7px;
  height:31px;
  opacity:0.8;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1599_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:34px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:5px;
  width:7px;
  height:31px;
  opacity:0.8;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:34px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:3px;
  width:11px;
  height:31px;
  opacity:0.8;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:47px;
  height:18px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:12px;
  width:44px;
  height:15px;
  opacity:0.8;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:8px;
  height:33px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:7px;
  width:5px;
  height:30px;
  opacity:0.8;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:36px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:7px;
  width:7px;
  height:33px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:30px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:11px;
  width:10px;
  height:27px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1611_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:36px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:7px;
  width:8px;
  height:33px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:47px;
  height:10px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:19px;
  width:44px;
  height:7px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:36px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:8px;
  width:7px;
  height:33px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:691px;
  width:115px;
  height:44px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
