body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:68px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), -2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), -2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), -2px -2px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:659px;
  width:214px;
  height:68px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:266px;
  width:300px;
  height:170px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:54px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:53px;
  width:390px;
  height:54px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:19px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:55px;
  width:336px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:274px;
  word-wrap:break-word;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:55px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:60px;
  width:39px;
  height:39px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:117px;
  width:335px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:273px;
  word-wrap:break-word;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:117px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:122px;
  width:39px;
  height:39px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:171px;
  width:335px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:273px;
  word-wrap:break-word;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:171px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:176px;
  width:39px;
  height:39px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:225px;
  width:335px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:273px;
  word-wrap:break-word;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:225px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:230px;
  width:39px;
  height:39px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:279px;
  width:335px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:273px;
  word-wrap:break-word;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:279px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:284px;
  width:39px;
  height:39px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:225px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:279px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:288px;
  width:32px;
  height:32px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:288px;
  width:32px;
  height:32px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:238px;
  width:33px;
  height:25px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352 {
  position:absolute;
  left:368px;
  top:55px;
}
#u352_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:none;
}
#u352_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:33px;
  height:25px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  visibility:hidden;
  background-image:none;
}
#u352_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:33px;
  height:25px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:213px;
  width:176px;
  height:75px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:225px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:234px;
  width:32px;
  height:32px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:171px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:184px;
  width:33px;
  height:25px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:117px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:130px;
  width:33px;
  height:25px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:279px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:292px;
  width:33px;
  height:25px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
