body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:768px;
  width:67px;
  height:32px;
  overflow:hidden;
}
#u165_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u165_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u165_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u165_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:286px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:286px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:291px;
  width:39px;
  height:39px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:286px;
  width:152px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:136px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:136px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:141px;
  width:39px;
  height:39px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:136px;
  width:152px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:186px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:186px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:191px;
  width:39px;
  height:39px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:186px;
  width:152px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:236px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:236px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:241px;
  width:39px;
  height:39px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:236px;
  width:152px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:336px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:336px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:341px;
  width:39px;
  height:39px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:336px;
  width:152px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(102, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:56px;
  width:389px;
  height:58px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:60px;
  width:381px;
  height:50px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background-color:#FFFFCC;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:67px;
  width:24px;
  height:24px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:19px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:88px;
  width:12px;
  height:16px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:386px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:386px;
  width:152px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFCC;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:386px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:391px;
  width:39px;
  height:39px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230 {
  position:absolute;
  left:26px;
  top:114px;
}
#u230_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:389px;
  height:339px;
  background-image:none;
}
#u230_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:339px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.898039215686275);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:339px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:389px;
  height:289px;
  visibility:hidden;
  background-image:none;
}
#u230_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:289px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.898039215686275);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:289px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:125px;
  width:39px;
  height:39px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:120px;
  width:167px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:176px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:176px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:181px;
  width:39px;
  height:39px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:176px;
  width:167px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:231px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:231px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:236px;
  width:39px;
  height:39px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:231px;
  width:167px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:286px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:286px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:291px;
  width:39px;
  height:39px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:286px;
  width:167px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  word-wrap:break-word;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:340px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:340px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:347px;
  width:39px;
  height:39px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:340px;
  width:167px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  word-wrap:break-word;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:25px;
  -moz-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px -1px 0px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:396px;
  width:381px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:9px;
  width:319px;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:396px;
  width:50px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  text-align:left;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:401px;
  width:39px;
  height:39px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:396px;
  width:167px;
  height:50px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  word-wrap:break-word;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:47px;
  background:inherit;
  background-color:rgba(102, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:653px;
  width:152px;
  height:47px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:148px;
  word-wrap:break-word;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:509px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:0px;
  width:37px;
  height:509px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:291px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:509px;
  width:451px;
  height:291px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:726px;
  width:64px;
  height:66px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:0px;
  width:389px;
  height:56px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:-8px;
  width:38px;
  height:517px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:453px;
  width:389px;
  height:56px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
