body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:678px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic';
  font-style:italic;
  font-size:28px;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:46px;
  width:400px;
  height:678px;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic';
  font-style:italic;
  font-size:28px;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:396px;
  word-wrap:break-word;
}
#u1768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:54px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  height:54px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:54px;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:60px;
  height:54px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:245px;
  width:88px;
  height:87px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:173px;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-38px;
  width:69px;
  height:173px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:338px;
  width:82px;
  height:86px;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:424px;
  width:81px;
  height:86px;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:147px;
  width:88px;
  height:87px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:243px;
  width:97px;
  height:86px;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:0px;
  width:82px;
  height:120px;
  overflow:hidden;
}
#u1786_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1786_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:86px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:82px;
  height:86px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:86px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:339px;
  width:81px;
  height:86px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:424px;
  width:88px;
  height:86px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:392px;
  width:36px;
  height:36px;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic';
  font-weight:700;
  font-style:italic;
  font-size:36px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:32px;
  word-wrap:break-word;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:99px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:436px;
  width:79px;
  height:99px;
  opacity:0.5;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:443px;
  width:86px;
  height:85px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:64px;
  width:86px;
  height:85px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:86px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:64px;
  width:97px;
  height:86px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-style:italic;
  font-size:36px;
  text-align:left;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:595px;
  width:387px;
  height:149px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-style:italic;
  font-size:36px;
  text-align:left;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:379px;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:41px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:718px;
  width:5px;
  height:26px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:595px;
  width:387px;
  height:149px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:379px;
  word-wrap:break-word;
}
#u1809_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:41px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:718px;
  width:5px;
  height:26px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:264px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:546px;
  width:499px;
  height:264px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-style:italic;
  font-size:36px;
  text-align:left;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:595px;
  width:387px;
  height:149px;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-style:italic;
  font-size:36px;
  text-align:left;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:379px;
  word-wrap:break-word;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:41px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:718px;
  width:5px;
  height:26px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:353px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1817_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1817_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1817_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1817_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:258px;
  width:154px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1820_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1820_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1820_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1820_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:438px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1823_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1823_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1823_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1823_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:78px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1826_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1826_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1826_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1826_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:438px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1829_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1829_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1829_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1829_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:353px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1832_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1832_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1832_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1832_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:155px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1835_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1835_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1835_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1835_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:163px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1838_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1838_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1838_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1838_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:48px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1841_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1841_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1841_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1841_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:78px;
  width:157px;
  height:57px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1844_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1844_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1844_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1844_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
  opacity:0.8;
  font-family:'Gentium Basic Italic', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:36px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:9px;
  height:33px;
  opacity:0.8;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:34px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:3px;
  width:7px;
  height:31px;
  opacity:0.8;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:34px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:5px;
  width:7px;
  height:31px;
  opacity:0.8;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:34px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:3px;
  width:11px;
  height:31px;
  opacity:0.8;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:47px;
  height:18px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:12px;
  width:44px;
  height:15px;
  opacity:0.8;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:8px;
  height:33px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:7px;
  width:5px;
  height:30px;
  opacity:0.8;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:36px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:7px;
  width:7px;
  height:33px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:30px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:11px;
  width:10px;
  height:27px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:36px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:7px;
  width:8px;
  height:33px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:47px;
  height:10px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:19px;
  width:44px;
  height:7px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:10px;
  height:36px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:8px;
  width:7px;
  height:33px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:62px;
  height:387px;
  overflow:hidden;
  visibility:hidden;
}
#u1869_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:387px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1869_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:200px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:62px;
  height:200px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
