body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:678px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-style:italic;
  font-size:28px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:46px;
  width:400px;
  height:678px;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-style:italic;
  font-size:28px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:396px;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:800px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:244px;
  width:86px;
  height:85px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:244px;
  width:86px;
  height:85px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:392px;
  width:36px;
  height:36px;
  font-family:'Gentium Basic Bold Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:700;
  font-style:italic;
  font-size:36px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:32px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:99px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:436px;
  width:79px;
  height:99px;
  opacity:0.5;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:443px;
  width:86px;
  height:85px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:34px;
  width:86px;
  height:85px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:149px;
  width:86px;
  height:85px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:64px;
  width:86px;
  height:85px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:64px;
  width:86px;
  height:85px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:149px;
  width:86px;
  height:85px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:339px;
  width:86px;
  height:85px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:424px;
  width:86px;
  height:85px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:339px;
  width:86px;
  height:85px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:424px;
  width:86px;
  height:85px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:595px;
  width:387px;
  height:149px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:379px;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:41px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:718px;
  width:5px;
  height:26px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:595px;
  width:387px;
  height:149px;
  text-align:left;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:379px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:41px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:718px;
  width:5px;
  height:26px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:264px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:546px;
  width:499px;
  height:264px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:595px;
  width:387px;
  height:149px;
  font-family:'Gentium Basic Italic', 'Gentium Basic Regular', 'Gentium Basic';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:379px;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:41px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:718px;
  width:5px;
  height:26px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
